@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter&display=swap');

.header {
    background-color: black;
    max-width: 854px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.container {
    max-width: 770px;
    margin: 0 auto;
    padding: 0 15px;
    padding-left: 5px;
}

.header-ellipse {
    position: absolute;
    left: -30px;
    width: 100%;
    max-width: 572px;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header_logo {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 32px;
    font-family: 'IM FELL Great Primer SC ';
}

.header_nav {
    width: 100%;
    max-width: 372px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    z-index: 1;
}

.nav-list_item:not(:last-child) {
    margin-right: 34px;
}

.nav-list_link {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: white;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.nav-list_link:hover {
    font-weight: 500;
    color: #DF308D;
}

.nav-list_link:hover::after {
    content: "";
    background-color: white;
    height: 3px;
    width: 10px;
    position: absolute;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .container {
        display: flex;
        justify-content: flex-end;
    }

    .header {
        max-height: 130px;
        max-width: 120px;
        width: 100%;
        border-radius: 6px;
    }

    .nav-list::before {
        content: " ";
        height: 32px;
        width: 32px;
        background-image: url(../img/smallavatar.svg);
    }

    .nav-list_item:not(:last-child) {
        margin: 0;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .header_logo {
        display: none;
    }

    .header-ellipse {
        display: none;
    }

    .smallavatar {
        display: none;
    }

    .nav-list_link {
        font-size: 12px;
    }
}