/* :root {
    --breakpoints-sm: var(--breakpoints-sm):576px;
    --breakpoints-sm: var(--breakpoints-md): 768px,
        --breakpoints-sm: var(--breakpoints-lg): 992px,
        --breakpoints-sm: var(--breakpoints-xl): 1200px,
} */
