@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter&display=swap');



.container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 854px;
    max-height: 800px;
    background-color: #09010E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none;
    display: flex; */
    position: fixed;

}
  .header-wraps {
        display: none;
    } 

.close {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}



.sign-in_title {
    text-align: center;
    font-size: 24px;
    font-family: 'Orbitron';
    font-weight: 600;
    padding: 10px;
}

.sign-in_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    max-width: 560px;
}

.email:hover {
    border: 2px solid #d212a2;
}

.input {
    width: 100%;
    max-width: 560px;
    border: 2px solid #C8D1E5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #09010E;
    color: white;
    margin-bottom: 20px;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: border 0.1s ease-in;
}

.password:hover {
    border: 2px solid #d212a2;
}

.btn {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #9F62BB;
    border-radius: 2px;
    border: hidden;
    color: white;
    padding: 8px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.4s ease-in;
}

.btn:hover {
    background-color: #951dc8;
}

.img {
    display: none;
}

@media (max-width: 576px) {
    body {
        background-color: #09010E;
    }

   

    .header-wrap {
        display: contents;
    }

    .header_logo {
        position: absolute;
        color: white;
        text-decoration: none;
        font-family: 'IM FELL Great Primer SC';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        margin-top: 10px;
        margin-left: -80px;
    }

    .header-ellipse {
        position: absolute;
        left: -90px;
        width: 100%;
        filter: blur(5px);
    }

    .sign-in_form {
        align-items: center;
        max-width: 100%;
        max-width: 560px;
        margin: 0 auto;
    }

    .input {
        width: 100%;
        max-width: 560px;
    }

    .btn {
        width: 100%;
        max-width: 210px;
        cursor: pointer;
    }

    .img {
        position: absolute;
        width: 100%;
        bottom: 40px;
        filter: blur(5px);
        display: contents;
    }

    .ellipse-right {
        max-width: 800px;
        margin-right: -80px;
    }




}