@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.sign-in {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    max-width: 854px;
    background-color: #09010E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in_title {
    font-size: 24px;
    font-family: 'Orbitron';
    font-weight: 600;
    padding: 10px;
}

.sign-in_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.email {
    margin: 10px;
    width: 100%;
    max-width: 560px;
    border: 2px solid #C8D1E5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #09010E;
    color: white;
    padding: 8px 32px;
}

.password {
    width: 100%;
    max-width: 560px;
    border: 2px solid #C8D1E5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #09010E;
    color: white;
    margin-bottom: 20px;
    padding: 8px 32px;
}

.btn {
    width: 100%;
    max-width: 260px;
    text-align: center;
    background: #9F62BB;
    border-radius: 2px;
    border: hidden;
    color: white;
    padding: 8px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 18px;
}