body{
    width: 860px;
}




.header{
    background-color: rgb(247, 243, 243);
}
.main{
  background-color: rgb(241, 249, 249); 

}
.girl{
    height: 420px;
    width: 400px;
}






.white-dote{
    background-color: black;
    height: 10px;
    width: 10px;
}
