@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inter&display=swap');

.wrapper {
    position: relative;
    width: 850px;
    border: 1px solid white;
    background-color: rgb(9, 0, 9);
    color: white;
    /* color: aliceblue;
    background-image: url(../icon/foto\ girl\ v\ vr.png); */
}

.header {
    position: absolute;
    height: 200px;
}




.girl-v-vr {
    height: 250px;
    width: 250px;

}

.logo {
    position: absolute;
    font-family: 'IM Fell Great Primer SC', serif;
    color: white;
    left: 40px;
    top: 40px;
    font-style: regular;
    font-size: 23.35px;
    line-height: 29px;
    text-decoration: none;
}